@page "/"
@using ChattyApp.Shared
@inject NavigationManager NavMgr
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<PageTitle>Chatty-Chat App</PageTitle>
<h3>Chatty-Chat</h3>

@if (!IsConnected)
{
    <div class="input-group">
        <input @bind="_user" class="form-control" placeholder="username">
        <button class="btn btn-primary form-control-append" @onclick="Connect">Connect</button>
    </div>
}
else
{
    <textarea style="width:100%; height:500px;" @ref="TextAreaRef">@_messages</textarea>
    <div class="input-group">
        <input @bind-value="_currentMessage" @bind-value:event="oninput" @onkeyup="HandleInput" class="form-control">
        <button class="btn btn-primary form-group-append" @onclick="Send" disabled="@(!IsConnected)">Send</button>
    </div>
}

@code {
    private HubConnection? _connection;
    private string _user = string.Empty;
    private string _currentMessage = string.Empty;
    private string _messages = string.Empty;

    ElementReference TextAreaRef;

    public bool IsConnected => _connection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_connection != null)
        {
            await _connection.DisposeAsync();
        }
    }

    private async Task Connect()
    {
        _connection = new HubConnectionBuilder()
                        .WithUrl(NavMgr.ToAbsoluteUri($"/lets-chat?username={_user}"))
                        .Build();

        _connection.On<string, string>(ChatTokens.RECEIVEMESSAGETOKEN, (user, message) =>
        {
            _messages += $"{(string.IsNullOrWhiteSpace(user) ? string.Empty : user)} => {message}\n";

            JSRuntime.InvokeVoidAsync("scrollToBottom", TextAreaRef);
            StateHasChanged();
        });

        await _connection.StartAsync();
    }

    private async Task HandleInput(KeyboardEventArgs args)
    {
        if (args.Key.Equals("Enter"))
        {
            await Send();
        }
    }

    private async Task Send()
    {
        if (_connection != null)
        {
            await _connection.SendAsync(ChatTokens.SENDMESSAGEMETHOD, _user, _currentMessage);

            _currentMessage = string.Empty;
        }
    }

}